#past-activities button{
    margin: 4px;
}

#clear-searches-button{
    background-color: salmon;
    color: white;
    font-size: 20px;
    margin: 4px;
}

footer {
    flex: 1 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 5px;
}